/*单选框*/
.pseudo-radio,
.pseudo-radio * {
  box-sizing: border-box;
}

.pseudo-radio>input {
  position: absolute;
  visibility: hidden;
}

.pseudo-radio>input+.pseudo-radio-container {
  --default-color: lightgray;
  --active-color: green;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding: 2px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-color: var(--default-color);
  border: 1px solid var(--default-color);
  transition: border-color .2s, background-color .5s;
}

.pseudo-radio>input:checked+.pseudo-radio-container {
  background-color: var(--active-color);
  border-color: var(--active-color);
}
/*复选框*/
.pseudo-checkbox{
    color: #39b94e;
    width: 1em;
    height: 1em;
    padding: 2px;
    border: 1px solid;
    display: inline-block;
}
.pseudo-checkbox>input{
    position: absolute;
    margin: 0;
    opacity: 0;
    vertical-align: bottom;
}
.pseudo-checkbox>input+.pseudo-checkbox-container{
    display: inline-block;
    width: inherit;
    height: inherit;
    position: absolute;
    transition: background-color .3s;
}
.pseudo-checkbox>input:checked+.pseudo-checkbox-container{
    background-color: currentColor;
}
.pseudo-checkbox::after{
    content:"c";
    opacity: 0;
    display: inline-block;
}
/*使用对号的复选框*/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?6cs2tr');
    src:  url('fonts/icomoon.eot?6cs2tr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6cs2tr') format('truetype'),
    url('fonts/icomoon.woff?6cs2tr') format('woff'),
    url('fonts/icomoon.svg?6cs2tr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.pseudo-right-checkbox{
    color: #39b94e;
    width: 1em;
    height: 1em;
    padding: 2px;
    border: 1px solid;
    display: inline-block;
}
.pseudo-right-checkbox>input{
    position: absolute;
    margin: 0;
    opacity: 0;
    vertical-align: bottom;
}
.pseudo-right-checkbox>input+.pseudo-checkbox-container{
    display: inline-block;
    width: inherit;
    height: inherit;
    position: absolute;
    color: transparent;
    transition:color .3s;
}
.pseudo-right-checkbox>input:checked+.pseudo-checkbox-container{
    color: currentColor;
}
.pseudo-right-checkbox>input+.pseudo-checkbox-container::before{
    content: "\e903";
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pseudo-right-checkbox::after{
    content:"c";
    opacity: 0;
    display: inline-block;
}
